appdirs==1.4.3
#bauh==0.5.2
Beaker==1.10.1
html5lib==1.0.1
importlib-metadata==0.19
Markdown==3.1.1
markdown2==2.4.0
ply==3.11
progress==1.5
pycairo==1.18.1
pycrypto==2.6.1
#pycups==1.9.74
#pycurl==7.43.0.3
Pygments==2.7.4
ueberzug==18.1.3
flask==2.2.5
