<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>play | maxcantcode</title>

    <!-- turretcss CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
  </head>
  <body>
    <video width="320" height="240" controls>
        <source src="{{vidfile}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </body>
</html>
