<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>video streams | maxcantcode</title>

    <!-- turretcss CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
  </head>
  <body>
    {% for video in videos %}
    <a href="/play/{{video}}">{{video}}<a>
    {% endfor%}
    </br>
    {% for dir in dirs %}
    <a href="{{dir}}">{{dir}}<a>
    {% endfor%}
  </body>
</html>
